.panel
  .title
    Invalid Link?
  .body
    %p
      The URL you clicked does not seem to be valid. 
    %p
      The code we got was:
      +q('token')
    %p
      Go back and check the link, especially if you clicked on it from email. Make sure it didn't wrap around to the next line and get cut off.
